.EventContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: gainsboro;
}

.SubContainer {
  width: 80%;
  margin-bottom: 50px;
}

.EventBodyLeft {
  background-color: red;
}
