.EventContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: gainsboro;
}

.EventSubContainer {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.EventHeader {
  width: 100%;
  min-height: 200px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
}

.EventHeaderLeft {
  /* display: flex; */
  flex: 3;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: rebeccapurple; */
  margin: 15px;
  padding-left: 15px;
  border-right: 1px solid black;
}

.EventHeaderRight {
  flex: 7;
  margin: 15px;
  overflow: hidden;
}

.EventBody {
  display: flex;
  height: 100%;
  max-height: 645px;
  padding-bottom: 20px;
}

.EventBodyLeft {
  width: 30%;
  height: 625px;
  background-color: white;
  border-radius: 10px;
  margin-right: 10px;
}

.EventBodyRight {
  width: 70%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
}
