.CommentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.CommentsArea {
  height: 100%;
  height: 555px;
  padding: 15px;
  overflow-y: scroll;
}

.CommentInput {
  display: flex;
  padding: 15px;
}
