.UserSearchContainer {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background: gainsboro;
}

.SubContainer {
  width: 80%;
  margin-bottom: 50px;
}

.SearchHeader {
  display: flex;
  justify-content: center;
}
